
body{
    margin: 0;
    color: #1E2D31;
    font-family: 'Comfortaa', cursive;
}

header{
    background-color: #1E2D31;
    height: 8em;
    width: 100%;
}

.logo-beautysalon{
    height: 8em;
}

main{
    display: flex;
    flex-direction: column;
}

